#nav, #nav li ul {
    margin: 0px; /* Встановлюємо відступ зовні (margin) на 0 для усунення стандартних відступів */
    padding: 0px; /* Встановлюємо внутрішні відступи (padding) на 0 для усунення стандартних відступів */
    list-style: none; /* Видаляємо маркери зі списків */
}

#nav > li {
    float: left; /* Встановлюємо обтікання елементів зліва */
    width: 120px; /* Встановлюємо ширину кожного елемента */
    background-color: #F5F5F5; /* Встановлюємо фоновий колір елементів */
    text-align: center; /* Вирівнюємо текст по центру */
    padding: 10px 0px 10px 0px; /* Встановлюємо внутрішні відступи (padding) */
    border-top: 1px solid #E8E8E8; /* Встановлюємо верхню рамку */
    border-right: 1px solid #E8E8E8; /* Встановлюємо праву рамку */
}

#nav li ul {
    display: none; /* Приховуємо підменю за замовчуванням */
    position: absolute; /* Встановлюємо абсолютне позиціювання для підменю */
    z-index: 100; /* Встановлюємо z-index для забезпечення накладення підменю над іншими елементами */
    width: 120px; /* Встановлюємо ширину підменю */
    margin-top: 10px; /* Встановлюємо відступ зверху */
    background-color: #ffffff; /* Встановлюємо фоновий колір підменю */
    border: 1px solid #E8E8E8; /* Встановлюємо рамку для підменю */
}

#nav li:hover ul {
    display: block; /* Відображаємо підменю при наведенні курсору на елемент */
}

#nav li:hover {
    background-color: #E8E8E8; /* Змінюємо фоновий колір при наведенні курсору */
}

#nav > li > a {
    font: 14px "Georgia"; /* Встановлюємо шрифт і його розмір */
    color: #000000; /* Встановлюємо колір тексту */
    text-decoration: none; /* Видаляємо підкреслення для посилань */
    text-transform: uppercase; /* Перетворюємо текст на верхній регістр */
}

#nav li ul li {
    text-align: left; /* Вирівнюємо текст по лівому краю */
    padding: 5px 5px 5px 15px; /* Встановлюємо внутрішні відступи (padding) */
}

#nav li ul li a {
    font: 14px "Georgia"; /* Встановлюємо шрифт і його розмір */
    color: #000000; /* Встановлюємо колір тексту */
    text-decoration: none; /* Видаляємо підкреслення для посилань */
}

#nav li ul li:hover {
    background-color: #553CCF; /* Змінюємо фоновий колір при наведенні курсору */
    color: #ffffff; /* Змінюємо колір тексту при наведенні курсору */
    border: 1px solid #553CCF; /* Встановлюємо рамку при наведенні курсору */
}

#nav li ul li:hover a {
    background-color: transparent; /* Залишаємо фон для тексту прозорим */
    color: inherit; /* Залишаємо колір тексту таким, яким він є */
}

.announcement {
    position: absolute; /* Встановлюємо абсолютне позиціювання для оголошення */
    top: 0; /* Встановлюємо розташування у верхньому краю */
    right: 0; /* Встановлюємо розташування у правому краю */
    width: auto; /* Встановлюємо автоматичну ширину */
    text-align: center; /* Вирівнюємо текст по центру */
    font-size: 20px; /* Встановлюємо розмір шрифту */
    background-color: #e57cff; /* Встановлюємо фоновий колір */
    padding: 10px; /* Встановлюємо внутрішні відступи (padding) */
    animation: slideAndFade 10s ease-in-out forwards; /* Встановлюємо анімацію для оголошення */
}
